.content {
    padding-bottom: 110px; 
    height: 60vh;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;    
}


body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}





