.magicBook {
    width: 400px; 
    height: auto; 
    background: #f3e4b2; 
    border: 4px solid #8c704a; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    margin: 20px auto; 
    text-align: justify; 
    font-family: 'Times New Roman', serif; 
    position: relative;
    overflow: hidden; 
}

.page {
    transform-origin: left center; 
    transition: transform 0.5s; 
}


.page-flip {
    transform: rotateY(-180deg); 
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: #5a4a32;
    background-color: #f0e9d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: #e4d7b7;
}

button:disabled {
    color: #9e9e9e;
    cursor: not-allowed;
}

button:active {
    transform: scale(0.98); 
}

.magicBook h1 {
    font-size: 24px;
    color: #5a4a32;
    text-align: center;
}

.magicBook .page-content {
    background: #fffafa;
    padding: 15px;
    height: calc(100% - 40px); 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 
}
