.sandwich {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .breadTop {
    background-color: sienna;
    border-radius: 50% 50% 0 0;
    width: 80%;
    height: 50px;
    position: relative;
    z-index: 10;
  }
  
  .breadBottom {
    background-color: sienna;
    width: 80%;
    height: 50px;
    position: relative;
    z-index: 1;
  }
  